/* Base */
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: #333;
  text-rendering:  optimizeLegibility;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif!important;
  font-weight: 300;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"*/
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

html {font-size: 1em;}

h1, h2, h3, h4 {
  margin: 1em 0 1em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {font-size: 2.074em;}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.8em;}


/* Map */
#map {
  background-color: #FFF;
  right: 0px;
  height: 100%;
  position: absolute;
  width: 68%;
  z-index: 6;
  cursor: default;
  top: 0;
}

/* Sidebar */
#sidebar {
    padding: 0px 2%;
    width: 28%;
    z-index: 7;
    height: 100%;
    top: 0;
    background-color: #fff;
    position: absolute;
    color: #333;
}

#logo {
  padding-top: 2em;
  background-color: #fff;
}

/* Geocoder */

.geocoder {
  width: 100%;
  font-size: 17px;
  margin: 0 0 2em 0;
  padding: 0;
  vertical-align: middle;
}

.geocoder .geocodifyInput {
  width: 80%;
  margin-bottom: 0px;
  font-size: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 4px 0 0 4px;
  border-right: 0;
}

.geocoder .geocodifyButton {
  width: 10%;
  min-height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  color: #333;
  *display: inline;
  _height: 20px;
}

.geocoder .geocodifyDropdown {
  color: #333;
  margin: 5px 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #d9d9d9;
  padding: 5px 0 !important;
  z-index: 9003;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.geocoder .geocodifyDropdown ul {
  margin: 0 !important;
  padding: 0 !important;
}

.geocoder .geocodifyDropdown li {
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 100%;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 5px 8px;
  text-align: left;
}

.geocoder .selected {
  background-color: #2262cc;
  background-repeat: repeat-x;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
}

/*leaflet overrides*/

.leaflet-container {
  font: 16px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-popup-content h5 {
  padding: 0.5em 0;
  font-size: 1em;
}

.leaflet-popup-content p {
  font-size: 1em;
}

/*Misc*/

svg {
  fill: transparent;
}

div.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 120px;          
  padding: 1em;       
  font: 1em sans-serif;    
  background: #000; 
  color: #fff;
  border: 0px;    
  border-radius: 3px;     
  pointer-events: none;     
}

.school:hover {
  cursor: pointer;
}

.school-name {
  margin-bottom: 0.2em;
}

.radius-icon {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  font-size: 2.8em;
  line-height: 0;
  position: relative;
  top: 10px;
  margin-right: 0.1em;
}

.red {
  color: #FF4136;
  stroke: #FF4136;
  fill: #FF4136;
}

.green {
  color: #2ECC40;
  stroke: #2ECC40;
  fill: #2ECC40;
}

.blue {
  color: #0074D9;
  stroke: #0074D9;
  fill: #0074D9;
}

#clearMap {
/*  position: absolute;
  bottom: 0;
  right: 0;*/
  display: none;
  background-color: #8a2188;
  border-radius: 5px;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}